#
# To clean up the repo, run `git clean -Xdf`
# NOTE: This is destructive and will wipe anything besides the source tree!
#

# Ignore everything in the root directory, whitelist stuff later
/*/
/*

# Ignore Kate editor temp files
*.kate-swp

# Ignore local patches
*.patch
*.rej
*.orig

# Ignore clang-analyzer output
*.plist

# Explicitly track source directories
!/include
!/src

# Explicitly track build system
!/Makefile
!/project.mk
!/CMakeLists.txt
!/Doxyfile
!/flake.nix
!/flake.lock
!/.envrc

# Explicitly track CI infrastructure
!/.github
!/.gitlab-ci.yml

# Explicitly track repository metadata
!/README*
!/LICENSE*
!/.mailmap
!/.gitignore
!/.clang-format
